{
    "parser": "babel-eslint",
    "plugins": [
        "prettier",
        "react"
    ],
    "rules": {
        "function-paren-newline": "off",
        "import/prefer-default-export": "off",
        "react/require-default-props": "off",
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true
            }
        ],
        "react/jsx-key": "error",
        "react/no-array-index-key": "off",
        "react/no-unescaped-entities": "off",
        "react/no-did-update-set-state": "off",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "no-unused-vars": "error",
        "no-fallthrough": "error",
        "default-case": "error",
    }
}