.menu-container {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  width: fit-content;
  height: fit-content;

  .thief-icon {
    width: 5rem;
    margin-right: 1rem;
  }
}
