.modal.new-player {
  h1 {
    font-size: 3rem !important;
  }

  input,
  button {
    height: 2rem;
    width: 50%;
  }

  input {
    height: 4rem;
    width: 50%;
    margin: 1rem auto;
    text-align: center;
    font-size: 3rem;
    outline: none;
    background: rgba(255, 255, 255, 0.6);
    border: none;
  }

  button {
    cursor: url('../../../assets/images/pointer.png'), auto;
    margin: 3rem auto 0;
    font-size: 2rem;
    height: auto;
    width: 15rem;
    border-radius: 1rem;
  }
}
