.modal.player {
  cursor: url(../../../assets/images/cursor.png), auto !important;

  .trash-bin {
    cursor: url(../../../assets/images/pointer.png), auto !important;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    width: 25px;
    height: 30px;
    background-image: url(../../../assets/images/trash.png);
    background-size: contain;
  }

  .container {
    .title {
      h1 {
        margin-bottom: 0;
      }

      input {
        height: 4rem;
        text-align: center;
        font-size: 3rem;
        outline: none;
        background: rgba(255, 255, 255, 0.6);
        border: none;
      }

      .edit {
        cursor: url(../../../assets/images/pointer.png), auto !important;
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
        background-image: url(../../../assets/images/feather_pen.png);
        background-size: contain;
      }
    }

    .colonies-manager,
    .cities-manager,
    .victory-points-manager,
    .bottom-half .action {
      cursor: url(../../../assets/images/pointer.png), auto !important;
    }

    .top-half,
    .bottom-half {
      margin: 0 2rem;
      height: 35%;
    }

    .top-half {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .colonies-manager,
      .cities-manager,
      .victory-points-manager {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 200px;
        height: 121px;
        background-size: contain;

        &.disabled {
          opacity: 0.7;
          cursor: not-allowed;
        }

        span {
          position: absolute;
          right: 0;
          top: 0;
          margin: 0.5rem;
          font-size: 2rem;
        }
      }

      .colonies-manager {
        background-image: url(../../../assets/images/colony.png);
      }

      .cities-manager {
        background-image: url(../../../assets/images/city.png);
      }

      .victory-points-manager {
        background-image: url(../../../assets/images/victory_point.png);
      }
    }

    .bottom-half {
      display: flex;
      justify-content: center;

      &.with-actions {
        flex-direction: column;

        p {
          cursor: url(../../../assets/images/pointer.png), auto;
          width: fit-content;
          align-self: center;
          font-size: 2rem;

          &:not(:last-of-type) {
            margin-bottom: 1rem;
          }
        }
      }

      .action {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:first-of-type {
          margin-right: 3rem;
        }

        .img {
          width: 150px;
          height: 150px;
          background-size: contain;
        }

        .checked {
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.5);
          background-image: url(../../../assets/images/check.png);
          background-size: contain;
        }

        &.road {
          .img {
            background-image: url(../../../assets/images/road.png);
          }
        }

        &.army {
          .img {
            background-image: url(../../../assets/images/army.png);
          }
        }
      }
    }
  }
}

.deletion-confirmation-swal {
  display: flex;
  flex-direction: column;

  .text {
    position: relative;
    width: 650px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .img {
      z-index: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../../../assets/images/guillotine.png);
      background-size: contain;
      background-position: center;
      opacity: 0.5;
    }

    p {
      z-index: 1;
      margin: 0;
      font-size: 3rem;
      text-shadow: 1px 1px 10px black;

      span {
        text-shadow: 1px 1px 10px red;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;

    button {
      color: white;
      font-size: 2.5rem;;
      background: none;
      border: none;
      text-shadow: 1px 1px 20px white;
      cursor: url(../../../assets/images/pointer.png), auto;

      &.danger {
        color: brown;
        text-shadow: 1px 1px 20px red;
      }
    }
  }
}
