@import '../../../theme.less';

.game-history-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;

  .toggle {
    width: 60px;
    height: 60px;
    margin: auto 4rem 2rem;
    cursor: url('../../../assets/images/pointer.png'), auto !important;
  }

  .turn {
    .huge-text;
    position: absolute;
    height: fit-content;
    margin: 0;
    top: -55px;
    transition: top 0.1s linear;

    &.visible {
      top: 32px;
    }
  }

  .backward,
  .forward {
    position: absolute;
    width: 130px;
    bottom: -130px;
    cursor: url('../../../assets/images/pointer.png'), auto !important;
    transition: bottom 0.1s linear;

    &.backward {
      left: 25%;
    }

    &.forward {
      right: 25%;
    }

    &.disabled {
      opacity: 0.4;
      cursor: url('../../../assets/images/forbidden.png'), auto !important;
    }

    &.visible {
      bottom: 0;
    }
  }
}
